body {
  font-family: 'Poppins', sans-serif;
  color:#fff;
  background-color: #333;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  max-height: max-content;
  font-family: inherit;
  line-height: inherit;
}
  
  *{
      font-family: "Poppins",sans-serif;
      color: #fff;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-decoration: none;
      max-height: -webkit-max-content;
      max-height: max-content;
  }

  .menu-icon{
   display: none;
    color: lightcoral;
    color:#000;

    height:25px;
    width:25px;
  }
  img, svg {
    display: block;
    vertical-align: middle;
}

 .navbar{
  color: lightcoral;
  background-color: lightcoral;
  font-size: x-large;
  

 }
 .navbar-text:hover{
  background-color: rgb(212, 97, 97);;
}

.nav-options.active {
  max-width: 80px;
   
    min-height: 80px;
    height: 400px;
    top: 80px;
    right: 0;
    opacity: 1;
    transition: all .5s ease;
    z-index: 1;
    -webkit-align-content: center;
    align-content: center;
    padding-left: 0;
    box-sizing: border-box;
    max-height: max-content;
}
.nav-options {
  max-width: 480px;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: 100px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  max-height: max-content;
  
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}

.container{
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 4px 10px 4px;
  /* top right bottom left */
  position: relative;
  flex-direction: row;
  padding-left:50px;
  color: lightcoral;
  background-color: lightcoral;
  width:100%;
  max-width: 100%;
  align-items: center;
  box-sizing: border-box;
  max-height: max-content;
}


 
 .initials{
   background-color: lightcoral;
   color: #000;
   font-size: 45px;
 }
 

  .navbar-text{
    color: #000;
    min-height: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    border-right: 5px;
   background-color: lightcoral;
   box-sizing: border-box;
   max-height: max-content;
 }

 .about-h1{
  color:rgb(216, 212, 212);
  font-size: x-large;
  
}
  .intro{
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    margin-right: 0px;
    padding: 70px;
    margin-left: 100px;
    margin-right: 200px;
    align-items: stretch;
    box-sizing: border-box;
    max-height: max-content;
  }
  
  .intro-text{
    font-size: 30px;
    box-sizing: border-box;
    max-height: max-content;
  }
  
  
  .icons-for-social{
    height: 50vh;
    min-height: 50vh;
    margin-top: 50px;
    padding: 20px;
    position: relative;
    align-items: center;
    font-size: 25px;
  }
  .media-options{
    font-size: 25px;
   
    
  }
    .social-links{
      height: 0;
      min-height: 10vh;
      
      margin-top: 0px;
      padding: 10px;
      
     
    } 
    
    #kontaktforma {
      box-sizing: border-box;
      max-width: 1400px;
      box-sizing: border-box;
      max-height: max-content;

      border: 1px rgb(240,240,240) solid;
      box-sizing: border-box;
      max-height: max-content;
    }
    .ui.form{
      font-size: 1rem;
      position: relative;
      max-width: 100%;
      box-sizing: border-box;
      max-height: max-content;
      
    }
    .ui.form.textarea{
      width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    max-height: max-content;
    box-sizing: border-box;
    max-height: max-content;
    }
    input{
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
      margin: 0em;
      outline: none;
      -webkit-appearance: none;
      tap-highlight-color: rgba(255, 255, 255, 0);
      line-height: 1.2142em;
      padding: 0.67861429em 1em;
      font-size: 1em;
      background: #FFFFFF;
      border: 1px solid rgba(34, 36, 38, 0.15);
      color: rgba(0, 0, 0, 0.87);
      border-radius: 0.28571429rem;
      box-shadow: 0em 0em 0em 0em transparent inset;
      -webkit-transition: color 0.1s ease, border-color 0.1s ease;
      transition: color 0.1s ease, border-color 0.1s ease;
      box-sizing: border-box;
      max-height: max-content;
  }
    
    input.from textarea{
      vertical-align: top;
      margin: 0em;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
    box-sizing: border-box;
    max-height: max-content;

    }
    textarea {
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: -internal-light-dark(black, white);
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: start;
      appearance: auto;
      background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
      -webkit-rtl-ordering: logical;
      flex-direction: column;
      resize: auto;
      cursor: text;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      column-count: initial !important;
      margin: 0em;
      font: 400 13.3333px Arial;
      border-width: 1px;
      border-style: solid;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-image: initial;
      padding: 2px;
      box-sizing: border-box;
      max-height: max-content;
    }
    *{
      box-sizing: inherit;
      box-sizing: border-box;
      max-height: max-content;
    }

    .three.fields{
      box-sizing: border-box;
      max-height: max-content;
      display: flex;
      flex-direction: row;
      flex: 0 1 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;

    }
    .field{
      display: flex;
      flex-direction: column;
      flex: 0 1 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
    max-height: max-content;
    

    }
    .field.required{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      max-height: max-content;

    }
    .one-field{
      display: flex;
      flex-direction: row;
      margin: 50px 0 70px 13px;
      box-sizing: border-box;
      max-height: max-content;
    }
